@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;800&family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@400;500&display=swap');
@media only screen and (max-width:767px){
  body{
    background-color: #CAC9FF;
  }
  p{
    font-family: 'Jura', sans-serif;
  }
  
  .header{
    font-size: 4vw;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
  }
  .header_1{
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 1;
    height: 50px;
    line-height: 50px;
  }
  .header_1 a {
    text-decoration: none;
    color: black;
  }
  .header_2{
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 2;
    height: 50px;
    line-height: 50px;
  }
  .header_2 a {
    text-decoration: none;
    color: black;
  }
  .header_3{
    text-align: center;
    grid-column-start: 3;
    grid-column-end: 3;
    height: 50px;
    line-height: 50px;
  }
  .header_3 a {
    text-decoration: none;
    color: black;
  }

  .header_3{
    text-align: center;
    grid-column-start: 3;
    grid-column-end: 3;
    height: 50px;
    line-height: 50px;
  }
  .header_3 a {
    text-decoration: none;
    color: black;
  }

  .header_4{
    text-align: center;
    grid-column-start: 4;
    grid-column-end: 4;
    height: 50px;
    line-height: 50px;
  }
  .header_4 a {
    text-decoration: none;
    color: black;
  }
  .header_5{
    text-align: center;
    grid-column-start: 5;
    grid-column-end: 5;
    height: 50px;
    line-height: 50px;
  }
  .header_5 a {
    text-decoration: none;
    color: black;
  }
  .text{
    margin-top: -5vh;
  }
  .text_1{
    margin-top: 8%;
    font-size: 9vw;
    text-align: center;
  }
  .text_2{
    margin-top: 0;
    font-size: 8vw;
    text-align: center;
  }
  .name{
    color:#FFFFFF;
  }
  .front{
    color: #FFFFFF;
  }
  .links{
    margin-top : 0;
    display: grid;
    grid-template-columns: auto auto auto ;
    place-items: center;
  }
  img{
    width: 15vw;
  }
  .about{

  }
  .about_me{
    grid-column-start: 1;
    grid-column-end: 7;
    font-size: 8vw;
    text-align: center;
  }
  ul{
    list-style-type: none;
    font-family: 'Jura', sans-serif;
    line-height: 10vw;
    padding: 0;
    font-size: 6vw;
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
  }
  .photo{
    display: none;
  }

  .skills_h{
    font-size: 8vw;
    text-align: center;
    margin-top: 0vh;
  }
  .skills_grid{
    margin-top: 0vh;
    text-align: center;
    font-size: 5.5vw;
  } 
  
}
@media only screen and (min-width:768px){

}
@media only screen and (min-width:992px){
body{
  background-color: #CAC9FF;
}
p{
  font-family: 'Jura', sans-serif;
}

.header{
  font-size: 2vw;
  display: grid;
  grid-template-columns: 4% 13% 13% 13% 13% 13% 13% 13% 4% ;
}
.header_1{
  text-align: center;
  grid-column-start: 3;
  grid-column-end: 3;
  height: 50px;
  line-height: 50px;
}
.header_1 a {
  text-decoration: none;
  color: black;
}
.header_1 a:hover {
  font-size: 2.5vw;
  text-decoration: none;
  color: white;
}
.header_2{
  text-align: center;
  grid-column-start: 4;
  grid-column-end: 4;
  height: 50px;
  line-height: 50px;
}
.header_2 a {
  text-decoration: none;
  color: black;
}
.header_2 a:hover {
  font-size: 2.5vw;
  text-decoration: none;
  color: white;
}
.header_3{
  text-align: center;
  grid-column-start: 5;
  grid-column-end: 5;
  height: 50px;
  line-height: 50px;
}
.header_3 a {
  text-decoration: none;
  color: black;
}
.header_3 a:hover {
  font-size: 2.5vw;
  text-decoration: none;
  color: white;
}
.header_3{
  text-align: center;
  grid-column-start: 5;
  grid-column-end: 5;
  height: 50px;
  line-height: 50px;
}
.header_3 a {
  text-decoration: none;
  color: black;
}
.header_3 a:hover {
  font-size: 2.5vw;
  text-decoration: none;
  color: white;
}
.header_4{
  text-align: center;
  grid-column-start: 6;
  grid-column-end: 6;
  height: 50px;
  line-height: 50px;
}
.header_4 a {
  text-decoration: none;
  color: black;
}
.header_4 a:hover {
  font-size: 2.5vw;
  text-decoration: none;
  color: white;
}
.header_5{
  text-align: center;
  grid-column-start: 7;
  grid-column-end: 7;
  height: 50px;
  line-height: 50px;
}
.header_5 a {
  text-decoration: none;
  color: black;
}
.header_5 a:hover {
  font-size: 2.5vw;
  text-decoration: none;
  color: white;
}
.header_6{
  text-align: center;
  grid-column-start: 8;
  grid-column-end: 8;
  height: 50px;
  line-height: 50px;
}
.header_6 a {
  text-decoration: none;
  color: black;
}
.header_6 a:hover {
  font-size: 2.5vw;
  text-decoration: none;
  color: white;
}
.text{
  display: grid;
  grid-template-columns: 11% 11% 11% 11% 11% 11% 11% 11% 11% ;
  grid-template-rows: auto auto auto;
  column-gap: 2%;
}
.text_1{
  margin-top: 8%;
  font-size: 5vw;
  text-align: center;
  grid-column-start: 3;
  grid-column-end: 7;

}
.text_2{
  margin-top: 0;
  font-size: 3vw;
  text-align: center;
  grid-column-start: 3;
  grid-column-end: 7;
}

.bg{
  top: 0;
  width: 100%;
  position: absolute;
  z-index: -1;
}
.name{
  color:#FFFFFF;
}
.front{
  color: #FFFFFF;
}
.links{
  margin-top : 11vh;
  display: grid;
  grid-template-columns: 9% 9% 9% 15.5% 15.5% 15.5% 9% 9% 9% ;
  place-items: center;
}
.linked{
  grid-column-start: 4;
  grid-column-end: 4;
}
.gh{
  grid-column-start: 5;
  grid-column-end: 5;
}
.email{
  grid-column-start: 6;
  grid-column-end: 6;
}
.about{
  margin-top: 10vh;
  display: grid;
  grid-template-columns: 11% 12.57% 25% 12.57% 12.5% 12.57%   ;
  column-gap: 2%;
}
.about_me{
  grid-column-start: 1;
  grid-column-end: 7;
  font-size: 4vw;
  text-align: center;
}
ul{
  font-family: 'Jura', sans-serif;
  grid-column-start: 2;
  grid-column-end: 4;
  line-height: 6vw;
  padding: 0;
  font-size: 2vw;
  list-style-type: none;
  grid-row-start: 2;
  grid-row-end: 6;
}
.photo{
  width: 70%;
  grid-column-start: 4;
  grid-column-end: 8;
  margin-left: auto;
  margin-right:auto ;
  grid-row-start: 2;
  grid-row-end: 6;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}
/* .bg{
  position: absolute;
  top: 205vh;
  z-index: 1;
  width: 100%;
  height: 95%;
} */

.skills_h{
  font-size: 3.5vw;
  text-align: center;
  margin-top: 40vh;
}
.skills_grid{
  margin-top: 10vh;
  text-align: center;
  font-size: 1.7vw;
  display: grid;
  grid-template-columns: 11% 11% 11% 11% 11% 11% 11% 11%  ;
  grid-template-rows: 10vh 10vh;
  column-gap: 1.7%;
  row-gap: 2vh;
  margin-bottom: 40vh;
} 
.html{
  display:flex;
  justify-content:center;
  align-items:center;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  margin-top: auto;
  margin-bottom: auto;
  background-color: #FFFFFF;
  height: 70%;
  grid-column-start: 3;
  grid-column-end: 4;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}
.html:hover .htmlskill{
  display: block;
}
.js{
  display:flex;
  justify-content:center;
  align-items:center;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  margin-top: auto;
  margin-bottom: auto;
  background-color: #FFFFFF;
  height: 70%;
  grid-column-start: 4;
  grid-column-end: 5;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}
.ts{
  display:flex;
  justify-content:center;
  align-items:center;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  margin-top: auto;
  margin-bottom: auto;
  background-color: #FFFFFF;
  height: 70%;
  grid-column-start: 5;
  grid-column-end: 6;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}
.react{
  display:flex;
  justify-content:center;
  align-items:center;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  margin-top: auto;
  margin-bottom: auto;
  background-color: #FFFFFF;
  height: 70%;
  grid-column-start: 6;
  grid-column-end: 7;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}
.css{
  display:flex;
  justify-content:center;
  align-items:center;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  margin-top: auto;
  margin-bottom: auto;
  background-color: #FFFFFF;
  height: 70%;
  grid-column-start: 4;
  grid-column-end: 5;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}
.figma{
  display:flex;
  justify-content:center;
  align-items:center;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  margin-top: auto;
  margin-bottom: auto;
  background-color: #FFFFFF;
  height: 70%;
  grid-column-start: 5;
  grid-column-end: 6;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}
.css{
  grid-row-start: 2;
  grid-column-start: 4;
  grid-column-end: 5;
}
.figma{
  grid-row-start: 2;
  grid-column-start: 5;
  grid-column-end: 6;
}
}