@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;800&family=Roboto+Condensed&display=swap');
body{
  background-color: #CAC9FF;
}
body {
  background: linear-gradient(to bottom right, white 50%, #CAC9FF 50%);
  height: 98vh;
}

body::after {
  z-index: -1;
  content: "";
  display: block;
  position: absolute;
  top: 100vh;
  left: 0;
  width: 100%;
  height: 200vh;
  background-color: #CAC9FF;
}


.header{
  font-size: 32px;
  font-family: 'Nunito', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 1%;
  display: grid;
  grid-template-columns: 11% 11% 11% 11% 11% 11% 11% 11% 11% ;
  column-gap: 2%;
}
.header_1{
  text-align: center;
  grid-column-start: 3;
  grid-column-end: 3;
}
.header_2{
  text-align: center;
  grid-column-start: 5;
  grid-column-end: 5;
}
.header_3{
  text-align: center;
  grid-column-start: 7;
  grid-column-end: 7;
}
.text{
  font-family: 'Nunito', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  display: grid;
  grid-template-columns: 11% 11% 11% 11% 11% 11% 11% 11% 11% ;
  grid-template-rows: auto auto auto;
  column-gap: 2%;
}
.text_1{
  margin-top: 8%;
  font-size: 96px;
  text-align: center;
  grid-column-start: 3;
  grid-column-end: 6;

}
.text_2{
  margin-top: 0;
  font-size: 64px;
  text-align: center;
  grid-column-start: 5;
  grid-column-end: 8;
}

.bg{
  top: 0;
  width: 100%;
  position: absolute;
  z-index: -1;
}
.name{
  color:#CAC9FF;
}
.front{
  color: #FFFFFF;
}
.links{
  display: grid;
  grid-template-columns: 11% 11% 11% 11% 11% 11% 11% 11% 11% ;
  column-gap: 2%;
}
.linked{
  grid-column-start: 4;
  grid-column-end: 4;
}
.gh{
  grid-column-start: 5;
  grid-column-end: 5;
}
.email{
  margin-top: -20px;
  grid-column-start: 6;
  grid-column-end: 6;
}
.about{
  display: grid;
  grid-template-columns: 12.57% 12.57% 16% 12.57% 12.5% 12.57% 8.14%  ;
  column-gap: 2%;
}
.about_me{
  grid-column-start: 3;
  grid-column-end: 6;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 64px;
  text-align: center;
}
ul{
  grid-column-start: 2;
  grid-column-end: 4;
  line-height: 100px;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 48px;
  list-style-type: none;
  grid-row-start: 2;
  grid-row-end: 6;
}
.photo{
  grid-column-start: 4;
  grid-column-end: 8;
  margin-left: auto;
  margin-right:auto ;
  grid-row-start: 2;
  grid-row-end: 6;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}
.bg{
  position: absolute;
  top: 200vh;
  z-index: 1;
}